.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background:#b2dcee;
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: rgb(240, 242, 245);
}